@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 199, 146, 1);
  color: rgba(5, 14, 29, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(0, 125, 175, 1);
  backdrop-filter: blur(15px);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(0, 125, 175, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 16px;
  background: rgba(0, 125, 175, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__item-two {
}
.navigation__link {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid transparent;
  padding: 8px;
}
.navigation__link:hover,
.navigation__link:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0%;

    padding: 8px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 387px;
  padding: 245px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 2400.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.home-text {
  font-family: Inter;
  font-weight: 800;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(17, 55, 115, 1);
  padding-bottom: 23px;
}
.home__google-button_image {
  width: 204px;
  height: 60px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 832px;
    padding: 493px 72px 0px;
    background-image: url("/img/home/Frame\ 2401.png");
  }

  .home-text {
    font-family: Inter;
    font-weight: 900;
    font-size: 40px;
    line-height: 48.41px;
    letter-spacing: 0%;
    padding-top: 56px;
  }
  .home__google-button_image {
    width: 204px;
    height: 60px;
    margin-left: 129px;
  }
}
.about {
  padding: 45px 16px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Open Sans;
  font-weight: 900;
  font-style: italic;
  font-size: 20px;
  line-height: 27.24px;
  letter-spacing: 0%;
  text-align: center;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
  color: rgba(17, 55, 115, 1);
  text-transform: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.about-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;

  padding: 25px 0px 20px;
}
.about-img {
  width: 336px;
  height: 353px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 100px 72px 0;
    width: 1440px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 72px;
  }

  .about-title {
    font-family: Open Sans;
    font-weight: 900;
    font-style: italic;
    font-size: 48px;
    line-height: 65.37px;
    letter-spacing: 0%;
  }

  .about-text {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

    padding: 48px 0px 0px;
  }
  .about-img {
    width: 587.6348266601562px;
    height: 573.8980712890625px;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 45px 15px;
}

.how-list {
  padding: 25px 0 15px;
}
.how-item {
  width: 306px;
  margin: 0 5px;
}
.how-img {
  border-radius: 24px 24px 0 0;
}
.how-item-two {
  width: 306px;
  height: 128px;
  border-radius: 0 0 24px 24px;
  background: rgba(253, 250, 241, 1);

  padding: 15px;
}

.how-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  text-align: center;
}
.how-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 10px;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .slick-prev:before {
    content: url("/img/Vector.png");
    display: flex;
    margin-left: -40px;
  }
  .slick-next {
    display: block;
  }
  .slick-next:before {
    content: url("/img/Vector\ \(1\).png");
    display: flex;
    margin-left: 60px;
  }
  .how {
    width: 1440px;
    padding: 100px 100px 0;
  }

  .how-list {
    padding: 48px 0 0px;
  }
  .how-item {
    width: 306px;
    margin: 0 18px;
  }
  .how-img {
    border-radius: 24px 24px 0 0;
  }
  .how-item-two {
    width: 306px;
    height: 148px;
    border-radius: 0 0 24px 24px;
    background: rgba(253, 250, 241, 1);

    padding: 16px;
  }

  .how-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;
    text-align: center;
  }
  .how-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 8px;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 45px 15px;
}

.reviews-list {
  padding: 25px 0 15px;
}
.reviews-item {
  margin: 0 5px;
  width: 345px;
  height: 245px;
  border-radius: 24px;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  background: rgba(253, 250, 241, 1);
}
.reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
}
.reviews-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
}
.reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  padding: 28px 0 25px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;

    padding: 100px 100px 0;
  }
  .reviews-list {
    padding: 48px 0 0px;
  }
  .reviews-item {
    margin: 0 18px;
    width: 416px;
    height: 269px;
    border-radius: 24px;
    padding-top: 28px;
    padding-right: 24px;
    padding-bottom: 28px;
    padding-left: 24px;
  }
  .reviews-item-top {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .reviews-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;
    height: 81px;
    padding: 0;
    margin: 28px 0 28px;
  }
}

.gallery {
  width: 375px;

  margin: auto;
  padding: 45px 15px;
}

.gallery__list {
  padding: 25px 0 15px;
}
.gallery__item {
  width: 345px;
  height: 614px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-link {
  margin: 45px auto 0;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 100px;
  }

  .gallery__item {
    width: 416px;
    height: 746px;
    border-radius: 24px;
    margin: 0 24px;
  }

  .gallery__list {
    width: auto;
    padding: 48px 0 10px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 46px 15px;
}

.features-list {
  padding: 0px 0 15px;
}
.features-item {
  width: 306px;
  margin: 0 10px;
}
.features-item-two {
  width: 306px;
  height: 145px;
  margin-top: 30px;
}
.features-item-top {
  display: flex;
  align-items: center;
  gap: 12px;
}
.features-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  color: rgba(5, 14, 29, 1);
}
.features-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: rgba(5, 14, 29, 1);
  letter-spacing: 0%;

  height: 81px;
  margin-top: 15px;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 8px;
  height: 8px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/Ellipse\ 11.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/Ellipse\ 15.png") no-repeat center/cover;
}
.gallery-button-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .gallery-button:hover {
    scale: 120%;
  }
  .features {
    width: 1440px;

    margin: auto;
    padding: 100px 48px 0px;
  }

  .features-list {
    padding: 0px;
  }
  .features-item {
    width: 306px;
    margin: 0 80px;
  }
  .features-item-two {
    width: 306px;
    height: 159px;
    margin-top: 72px;
  }
  .features-item-top {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 54px;
  }
  .features-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;
    height: 81px;
    margin-top: 24px;
  }
  .slick-dots {
    display: none;
  }

  .slick-dots li {
    display: none;
  }
}
.footer {
  background: rgba(5, 14, 29, 1);

  color: #ffffff;
  padding: 25px 0px 18px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 63px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 78px;
  row-gap: 27px;
}
.footer-text {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0%;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 37px 72px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    display: flex;

    gap: 99px;
  }

  .footer-wrapper {
    display: flex;

    gap: 400px;
  }
  .footer-text {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0%;
  }
}
.policy-terms-container {
  padding: 101px 16px 40px;
}
.policy-terms-title {
  font-family: Open Sans;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  line-height: 27.24px;
  letter-spacing: 0%;
  text-align: center;
  -webkit-text-stroke: 1px#FFFFFF;
  color: rgba(17, 55, 115, 1);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.policy-terms-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 128px 72px 60px;
  }
  .policy-terms-title {
    font-family: Open Sans;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    line-height: 65.37px;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 20px 15px;
  background: rgba(253, 250, 241, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(5, 14, 29, 1);
}
.cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  border: 1px solid rgba(5, 14, 29, 1);
  background-color: transparent;
  width: 196px;

  border-radius: 36px;
  padding: 16px 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.82px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(5, 14, 29, 1);
}
#accept-cookies {
  background: rgba(28, 181, 35, 1);
  color: rgba(253, 250, 241, 1);
  border: none;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;

    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 748px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 40px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
